<h1>Listing wallpapers</h1>

<table>
  <tr>
  </tr>

<% for wallpaper in @wallpapers %>
  <tr>
    <td><%= link_to 'Show', wallpaper %></td>
    <td><%= link_to 'Edit', edit_wallpaper_path(wallpaper) %></td>
    <td><%= link_to 'Destroy', wallpaper, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wallpaper', new_wallpaper_path %>
