Hi <%= @user.login %>

 Your account has been sucessfully activated. 
 
 We are very happy to see you as a pioneer user of the Internet Housekeeping webtop. 
 
 We will update you shortly regarding the launch of Internet Housekeeping webtop.
 
 Stay with us.  

------------------------------------------------
Thank you for choosing our product
Internet Housekeeping Team
** visit our site at : www.i-housekeeping.com **