Hi <%= @user.login %>, 

Please follow the link to reset your password : <%= @url %>

------------------------------------------------
Thank you for choosing our product
Internet Housekeeping Team
** visit our site at : www.i-housekeeping.com **