Hi <%= @user.login %>, 

Your password has been sucessfuly reset and you can proceed with your tasks.

------------------------------------------------
Thank you for choosing our product
Internet Housekeeping Team
** visit our site at : www.i-housekeeping.com **