Hi <%= @user.login %> ,

Your account has been created. 

Your account details are as following:
  
  >>> Username: <%= @user.login %>
  >>> Password: <%= @user.password %>
  
  Visit this url to activate your account:  <%= @url %>

------------------------------------------------
Thank you for choosing our product
Internet Housekeeping Team
** visit our site at : www.i-housekeeping.com **