<h1>Editing launcher</h1>

<% form_for(@launcher) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @launcher %> |
<%= link_to 'Back', launchers_path %>
