<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<%= hskpng_desktop_package_css %>	
	</head>
	<body scroll="no">
		<%= javascript_include_merged :base %>
        <%= yield %>
		<div id="x-desktop">
			<div id="x-loading-mask"></div>
			<div id="x-loading">
    			<div class="x-loading-indicator"> Loading Web Desktop </div>
			</div>
		</div>
		<div id="ux-taskbar">
			<div id="ux-taskbar-start"></div>
			<div id="ux-taskbar-panel-wrap">
				<div id="ux-quickstart-panel"></div>
				<div id="ux-taskbuttons-panel"></div>
				<div id="ux-tray-panel"></div>
			</div>
			<div class="x-clear"></div>
		</div>
		<!--script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script><script type="text/javascript">	
			try {
				var pageTracker = _gat._getTracker("UA-8174488-1");
				pageTracker._trackPageview();
			} 
			catch(err) {}
		</script-->
	</body>
</html>